earthengine-api==0.1.370
geemap==0.30.0
streamlit==1.35.0
folium==0.16.0
streamlit-folium==0.20.0
geopandas==0.14.4
pandas==2.2.2
numpy==1.26.4
plotly==5.22.0
matplotlib==3.9.0
requests==2.32.2